version: '3.8'

services:
  db:
    image: postgres:15
    container_name: smartbot_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=smartbot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d smartbot_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build:
      context: ..
      dockerfile: Docker/Dockerfile
    container_name: smartbot_app
    restart: always
    env_file:
      - ../.env
    environment:
      - DB_HOST=db
      - DB_NAME=smartbot_db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_PORT=5432
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ../backend:/app

volumes:
  postgres_data:

